.page-container {
  margin: 0 auto;
  max-width: 1200px;
}

.search-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario-busqueda {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Asegura separación entre filas */
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-field {
  width: 48%;
}

.botones-formulario {
  display: flex;
  justify-content: center;
  gap: 15px; /* Separación entre botones */
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.clientes-tabla {
  width: 90%;
  max-width: 1200px;
  border-collapse: collapse;
}

.paginator-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 90%;
  max-width: 1200px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.boton-volver {
  margin-top: 20px;
  text-align: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
