<div class="page-container">
  <h1>Gestión de Empleados</h1>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Búsqueda avanzada</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>
      <!-- Formulario de búsqueda -->
      <form (ngSubmit)="buscarEmpleados()" class="formulario-busqueda">
        <div class="form-row">
          <mat-form-field class="form-field">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="filtros.nombre" name="nombre" />
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Apellido 1</mat-label>
            <input matInput [(ngModel)]="filtros.apellido1" name="apellido1" />
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field class="form-field">
            <mat-label>Apellido 2</mat-label>
            <input matInput [(ngModel)]="filtros.apellido2" name="apellido2" />
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Rol</mat-label>
            <mat-select [(ngModel)]="filtros.rol" name="rol">
              
              <mat-option *ngFor="let rol of roles" [value]="rol.valor">{{ rol.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row" style="justify-content: center;">
          <button mat-raised-button class="button-primary" type="submit">Buscar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-expansion-panel>

  <mat-divider *ngIf="busquedaRealizada"></mat-divider>

  <!-- Spinner de carga -->
  <div *ngIf="isLoading" class="spinner-container">
    <mat-progress-spinner mode="indeterminate" diameter="50" color="primary"></mat-progress-spinner>
  </div>

  <!-- Tabla de resultados -->
  <div class="tabla-container">
    <table
      *ngIf="!isLoading && busquedaRealizada && dataSource.data.length > 0"
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 clientes-tabla"
    >
      <!-- Definición de columnas -->
      <ng-container matColumnDef="numIdent">
        <th mat-header-cell *matHeaderCellDef>Num Ident</th>
        <td mat-cell *matCellDef="let empleado" class="breakCell">{{ empleado.numIdent }}</td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let empleado">{{ empleado.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="apellido1">
        <th mat-header-cell *matHeaderCellDef>Apellido 1</th>
        <td mat-cell *matCellDef="let empleado">{{ empleado.apellido1 }}</td>
      </ng-container>

      <ng-container matColumnDef="apellido2">
        <th mat-header-cell *matHeaderCellDef>Apellido 2</th>
        <td mat-cell *matCellDef="let empleado">{{ empleado.apellido2 }}</td>
      </ng-container>

      <!-- <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef>Rol</th>
        <td mat-cell *matCellDef="let empleado">{{ empleado.rol }}</td>
      </ng-container> -->

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let empleado">
          <button mat-icon-button color="primary" (click)="navegarPerfilEmpleado(empleado.id)">
            <mat-icon title="Acceder">remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="bajaEmpleado(empleado)">
            <mat-icon title="Dar de Baja">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
    </table>
    <mat-paginator *ngIf="!isLoading && busquedaRealizada && dataSource.data.length > 0" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <!-- Mensaje de "No se encontraron empleados" -->
  <p *ngIf="!isLoading && busquedaRealizada && dataSource.data.length === 0" class="no-results">
    No se encontraron empleados.
  </p>

  <!-- Botón Volver -->
  <div class="action-buttons">
    <button mat-raised-button class="button-primary" (click)="nuevoEmpleado()">Nuevo Empleado</button>
    <button mat-raised-button class="button-secondary" (click)="volver()">Volver</button>
  </div>
</div>
