<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <button mat-button (click)="navigateTo('/')" aria-label="Ir a la página principal">VDS</button>
    </div>
    <div class="footer-links">
      <button mat-button (click)="navigateTo('/ayuda')" class="footer-link" aria-label="Ir a la sección de ayuda">Ayuda</button>
      <button mat-button (click)="navigateTo('/sobre-nosotros')" class="footer-link" aria-label="Ir a la sección sobre nosotros">Sobre nosotros</button>
      <button mat-button (click)="navigateTo('/politica-privacidad')" class="footer-link" aria-label="Ir a la política de privacidad">Política de privacidad</button>
    </div>
  </div>
</footer>
