<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <h2>VETDATASHARE</h2>
      </div>
      <div class="footer-links">
        <button mat-button (click)="navigateTo('/ayuda')" class="footer-link">Ayuda</button>
        <button mat-button (click)="navigateTo('/sobre-nosotros')" class="footer-link">Sobre nosotros</button>
        <button mat-button (click)="navigateTo('/politica-privacidad')" class="footer-link">Política de privacidad</button>
      </div>
    </div>
</footer>
  