.detalle-prueba-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.info-card,
.form-card {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.form-card {
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Columnas fijas */
  font-size: 14px;
  background-color: #ffffff;
}

th, td {
  padding: 10px 15px;
  text-align: left;
  white-space: nowrap; /* Evita saltos de línea */
  border-right: 1px solid #ccc;
}

/* Elimina el borde derecho de la última columna */
th:last-child, td:last-child {
  border-right: none; 
}

mat-card-content {
  display: flex;
  justify-content: space-between;
}

.info-row {
  display: flex;
  flex-direction: column;
}

.info-row p {
  margin: 0;
  width: 100%; /* Asegura que los textos ocupen el espacio adecuado */
}

.info-row:first-child p {
  text-align: start; /* Alinea a la izquierda */
}

.info-row:last-child p {
  text-align: end; /* Alinea a la derecha */
}

.detalle-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.botones-documento {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.text-center {
  text-align: center !important;
}

.no-documentos-text {
  text-align: center;
  font-size: 16px;
  color: #757575;
  margin-top: 20px;
}

/* Responsive: Ajustes en pantallas pequeñas */
@media (max-width: 768px) {
  th, td {
    padding: 8px 10px;
    font-size: 12px !important;
  }
}

@media (max-width: 480px) {
  table {
    table-layout: auto;
  }

  th, td {
    padding: 6px 8px;
  }

  mat-card-content {
    font-size: 0.85rem;
  }
}