.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #1e5067; /* Fondo del header */
  color: #ffffff;

  .logo {
      font-size: 1.5rem;
      color: white;
      text-decoration: none;
  }

  .header-options {
      display: flex;
      align-items: center;

      .user-info {
          display: flex;
          align-items: center;
          gap: 16px;

          span {
              font-size: 1.2rem;
          }
      }

      .login-btn,
      .logout-btn,
      .acceso-temporal-btn {
          background-color: #cbd8df; /* Fondo de los botones */
          color: #141e26; /* Color del texto */
          border: none;
          padding: 8px 16px;
          border-radius: 4px;
          cursor: pointer;
          font-weight: bold;
          transition: background-color 0.3s;
          margin-left: 1rem;

          &:hover {
              background-color: #9ac5d3; /* Fondo más claro al pasar el cursor */
              color: #141e26; /* Mantén el color del texto */
          }
      }
  }
}
