<header class="header">
  <!-- Logo a la izquierda -->
  <div class="header-logo">
    <button mat-button (click)="navigateTo('/')">VetDataShare</button>
  </div>

  <!-- Opciones a la derecha -->
  <div class="header-options">
    <!-- Si el usuario NO está logueado, mostramos el botón "Acceder" y el enlace para Acceso Temporal -->
    <div *ngIf="!isLogged">
      <button mat-raised-button color="primary" (click)="navegarLogin()" class="login-btn">Acceder</button>
      <button mat-raised-button color="primary" (click)="navegarAccesoTemporalValidar()" class="acceso-temporal-btn">Acceso Temporal</button>
    </div>

    <!-- Si el usuario está logueado, mostramos el botón "Logout" y el rol -->
    <div *ngIf="isLogged" class="user-info">
      <button mat-button (click)="navegarDashboard()" class="user-button">
        <i class="fa-solid fa-user fa-lg user-icon"> </i>
        <span>{{ usuario?.username }}</span>
      </button>
      <button mat-raised-button color="warn" (click)="logout()" class="logout-btn">Logout</button>
    </div>
  </div>
</header>
