.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #1e5067;
  color: #ffffff;
  width: 100%; /* Asegura que ocupe todo el ancho */
  box-sizing: border-box; /* Evita que el padding desborde el contenedor */
  position: relative; /* Para mantener el flujo */

  .logo {
      font-size: 1.5rem;
      color: white;
      text-decoration: none;
  }

  .header-options {
      display: flex;
      align-items: center;

      .user-info {
          display: flex;
          align-items: center;
          gap: 16px;

          span {
              font-size: 1.2rem;
          }
      }

      .login-btn,
      .logout-btn,
      .acceso-temporal-btn {
          background-color: #cbd8df; 
          color: #141e26; 
          border: none;
          padding: 8px 16px;
          border-radius: 4px;
          cursor: pointer;
          font-weight: bold;
          transition: background-color 0.3s;
          margin-left: 1rem;

          &:hover {
              background-color: #9ac5d3;
              color: #141e26;
          }
      }
  }
}

.header-logo button {
    color: #ffffff; 
    font-size: 1.5rem;
}

.user-button {
    color:  #ffffff !important;
}

.user-icon {
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .user-info {
        flex-direction: column;
        gap: 5px !important;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
    }
}