/* Títulos */
h2 {
    text-align: center;
    color: #333;
}

/* Formulario de búsqueda */
.formulario-busqueda {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Menor separación entre filas */
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Separación más compacta entre campos */
}

.form-field {
    width: 48%;
}

.boton-buscar {
    display: block;
    margin: 20px auto; /* Centra el botón */
}

/* Línea divisoria */
hr, .divider {
    margin: 20px 0; /* Mayor separación entre secciones */
}

/* Contenedor de resultados */
.resultados-container {
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
}

.tabla-container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Columnas fijas */
    font-size: 14px;
    background-color: #ffffff;
}

th, td {
  padding: 10px 15px;
  text-align: center;
  border-right: 1px solid #ccc;
}

td.acciones-cell {
    text-align: center;
    width: 1%; /* Evita que la columna de acciones ocupe demasiado espacio */
    white-space: nowrap;
}

.breakCell {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
  }
  
  
/* Centrar el botón Acceder */
.text-center {
    text-align: center !important;
}

/* Botón dentro de la tabla */
button {
    margin: 0;
    padding: 6px 12px;
    font-size: 0.9rem;
}

.acciones-cell button {
    margin: 0 5px;
}

/* Efecto hover en filas */
tr:hover {
    background-color: #f5f5f5;
}

/* Mensajes */
p {
    text-align: center;
    color: red;
    font-weight: bold;
}

/* Paginador */
mat-paginator {
    background-color: #ffffff; /* Fondo del paginador */
    border-top: 1px solid #ddd; /* Línea divisoria con la tabla */
}

/* Ajuste de celdas con formato de fecha */
td.date-cell {
    text-align: center; /* Centra las fechas */
}

.boton-volver {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* Responsive: ajustes en pantallas pequeñas */
@media (max-width: 768px) {
  th, td {
    padding: 8px 10px; /* Reduce el padding */
    font-size: 12px !important;
  }
}

@media (max-width: 480px) {
  th, td {
    padding: 6px 8px;
    font-size: 11px !important;
    /* width: 50% !important; */
  }
}