<h2 mat-dialog-title>Subir Documento</h2>
<mat-dialog-content>
  <p>Selecciona un documento para asociarlo a la prueba.</p>
  <input type="file" (change)="onFileSelected($event)" aria-label="Selecciona un archivo para subir como documento asociado a la prueba"/>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button class="button-primary" (click)="subirDocumento()" aria-label="Subir el documento seleccionado">Subir</button>
  <button mat-raised-button class="button-secondary" (click)="cancelar()" aria-label="Cancelar la subida de documento">Cancelar</button>
</mat-dialog-actions>