/* Mat-card para perfil */
.perfil-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 20px;
  }
  
  /* Diseño en grid para el formulario */
  .grid-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
  }
  
  /* Ajuste de columnas para cada fila */
.grid-form mat-form-field {
    grid-column: span 1;
}

/* Ajuste general */
.grid-form .full-width {
    grid-column: span 1 !important;
}
  