.grid-form {
  grid-template-columns: repeat(2, 1fr); 
}
  
.grid-form mat-form-field {
    grid-column: span 1;
}

.grid-form .full-width {
    grid-column: span 2 !important;
}
  
input {
  color: #000000 !important;
}

@media (max-width: 480px) {
  .card {
      max-width: 100%; /* Ajuste completo */
  }

  .grid-form {
      grid-template-columns: 1fr; /* Una columna en móviles */
  }

  .grid-form mat-form-field {
      grid-column: span 1; /* Cada campo ocupa toda la fila */
  }
}
