/* Media query para 480px: botones en columna */
@media (max-width: 580px) {
  .dashboard-buttons {
      flex-direction: column; /* Cambia a columna */
      align-items: center; /* Centra los botones */
  }

  .dashboard-button {
      flex: none; /* Desactiva flex-grow y flex-basis */
      width: 100%; /* Ocupa todo el ancho */
      max-width: 300px; /* Limita el ancho máximo */
  }
}