<div class="dashboard-container">
  <h2 *ngIf="rolUsuarioSesion === 'VETERINARIO'">Panel de Control del Veterinario</h2>
  <h2 *ngIf="rolUsuarioSesion === 'ADMIN_CLINICA'">Panel de Control del Administrador de Clínica</h2>
  
  <div class="dashboard-buttons">
    <!-- Botón "Mi Perfil" solo para veterinario -->
    <button *ngIf="rolUsuarioSesion === 'VETERINARIO'" mat-raised-button color="primary" (click)="navegarPerfil()">
      Mi Perfil
    </button>

    <!-- Botón "Datos Clínica" solo para administrador de clínica -->
    <button *ngIf="rolUsuarioSesion === 'ADMIN_CLINICA'" mat-raised-button color="primary" (click)="navegarClinica()">
      Clínica
    </button>

    <!-- Botones comunes a ambos roles -->
    <button mat-raised-button color="accent" (click)="navegarClientes()">Gestión Clientes</button>
    <button mat-raised-button color="warn" (click)="navegarMascotas()">Gestión Mascotas</button>
  </div>
</div>
