<div class="dashboard-container">
  <h1 *ngIf="rolUsuarioSesion === 'VETERINARIO'">Panel de Control del Veterinario</h1>
  <h1 *ngIf="rolUsuarioSesion === 'ADMIN_CLINICA'">Panel de Control del Administrador de Clínica</h1>

  <div class="dashboard-buttons-container">
    <div class="dashboard-buttons">
      <!-- Botón "Mi Perfil" solo para veterinario -->
      <div 
        class="dashboard-button"
        *ngIf="rolUsuarioSesion === 'VETERINARIO'"
        (click)="navegarPerfil()">
        <i class="fa-solid fa-user"></i>
        <span>Mi Perfil</span>
      </div>

      <!-- Botón "Datos Clínica" solo para administrador de clínica -->
      <div 
        class="dashboard-button"
        *ngIf="rolUsuarioSesion === 'ADMIN_CLINICA'"
        (click)="navegarClinica()">
        <i class="fa-solid fa-hospital"></i>
        <span>Clínica</span>
      </div>

      <!-- Botones comunes a ambos roles -->
      <div 
        class="dashboard-button"
        (click)="navegarClientes()">
        <i class="fa-solid fa-users"></i>
        <span>Gestión Clientes</span>
      </div>
      <div 
        class="dashboard-button"
        (click)="navegarMascotas()">
        <i class="fa-solid fa-paw"></i>
        <span>Gestión Mascotas</span>
      </div>
    </div>
  </div>
</div>
