<div class="page-container">
    <h1>Cambiar Contraseña</h1>
    <form class="restablecer-password-form grid-form" (ngSubmit)="guardarNuevoPassword()">
      <mat-form-field appearance="fill">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput [(ngModel)]="password" name="password" type="password" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput [(ngModel)]="confirmarPassword" name="confirmarPassword" type="password" required />
      </mat-form-field>
      <div class="action-buttons">
        <button mat-raised-button type="submit" class="button-primary">Guardar</button>
      </div>
    </form>
</div>
  