<div class="dashboard-container">
    <h1>Panel de Administración</h1>
  
    <div class="dashboard-buttons-container">
      <div class="dashboard-buttons">
        <!-- Botón "Gestión Clínicas" -->
        <div 
          class="dashboard-button"
          (click)="navegarGestionClinicas()">
          <i class="fa-solid fa-hospital"></i>
          <span>Gestión Clínicas</span>
        </div>
  
        <!-- Botón "Gestión Clientes" -->
        <div 
          class="dashboard-button"
          (click)="navegarGestionClientes()">
          <i class="fa-solid fa-users"></i>
          <span>Gestión Clientes</span>
        </div>
  
        <!-- Botón "Gestión Mascotas" -->
        <div 
          class="dashboard-button"
          (click)="navegarGestionMascotas()">
          <i class="fa-solid fa-paw"></i>
          <span>Gestión Mascotas</span>
        </div>
      </div>
    </div>
</div>
  