<div class="dashboard-container">
    <h1>Panel de Administración</h1>
  
    <div class="dashboard-buttons-container">
      <div class="dashboard-buttons">
        <!-- Botón "Gestión Clínicas" -->
        <div 
          class="dashboard-button"
          (click)="navegarGestionClinicas()" aria-label="Ir a la sección de gestión de clínicas">
          <i class="fa-solid fa-hospital" title="Gestión Clínicas"></i>
          <span>Gestión Clínicas</span>
        </div>
  
        <!-- Botón "Gestión Clientes" -->
        <div 
          class="dashboard-button"
          (click)="navegarGestionClientes()" aria-label="Ir a la sección de gestión de clientes">
          <i class="fa-solid fa-users" title="Gestión Clientes"></i>
          <span>Gestión Clientes</span>
        </div>
  
        <!-- Botón "Gestión Mascotas" -->
        <div 
          class="dashboard-button"
          (click)="navegarGestionMascotas()" aria-label="Ir a la sección de gestión de mascotas">
          <i class="fa-solid fa-paw" title="Gestión Mascotas"></i>
          <span>Gestión Mascotas</span>
        </div>
      </div>
    </div>
</div>
  