<div class="home-container">
    <div class="text-column">
      <h1>Bienvenido a <span>VetDataShare</span></h1>
      <p>
        <strong>VetDataShare</strong> es la solución definitiva para el intercambio y gestión de datos veterinarios.
        Ofrecemos herramientas innovadoras para conectar clínicas, gestionar historiales médicos,
        y garantizar una atención más eficiente y segura para las mascotas.
      </p>
      <a mat-button class="button-primary" href="mailto:vetdatashare@gmail.com?subject=Solicitud%20de%20Presupuesto&body=Escribe%20aquí%20los%20detalles%20de%20tu%20solicitud." aria-label="Enviar correo a VetDataShare">
        Solicita tu presupuesto
      </a>      
    </div>
  
    <!-- Slideshow -->
    <div class="slideshow-column">
      <div class="slideshow-container">
        <div class="slide" *ngFor="let img of images; let i = index" [class.active]="i === activeIndex">
          <img [src]="img" alt="Slide" />
        </div>
        <div class="dots">
          <span
            *ngFor="let img of images; let i = index"
            class="dot"
            [class.active]="i === activeIndex"
            (click)="goToSlide(i)"
          ></span>
        </div>
      </div>
    </div>
</div>
  