/* Estilos para el mat-card */
.perfil-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Asegura que los botones estén abajo */
  padding-bottom: 20px;
}

/* Diseño en grid para el formulario */
.grid-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
  gap: 20px; /* Espaciado entre columnas y filas */
}

.grid-form mat-form-field:nth-child(1),
.grid-form mat-form-field:nth-child(2) {
  grid-column: span 1; /* Cada campo ocupa una columna */
}

.grid-form mat-form-field:nth-child(3),
.grid-form mat-form-field:nth-child(4),
.grid-form mat-form-field:nth-child(5) {
  grid-column: span 1; /* Cada campo ocupa una columna en la segunda fila */
}