.mascotas-container {
  margin: 40px auto;
  padding: 20px;
  max-width: 900px;
}

.mascotas-tabla {
  width: 100%;
  border-collapse: collapse; /* Elimina espacios entre celdas */
}

mat-header-cell {
  font-weight: bold;
  text-align: left;
  padding: 12px 16px;
  background-color: var(--primary-color); /* Color de encabezado */
  color: var(--text-light); /* Texto blanco */
}

mat-cell {
  padding: 12px 16px;
  text-align: left;
}

.acciones-cell {
  display: flex;
  gap: 10px; /* Espaciado entre botones */
}

.no-mascotas {
  text-align: center;
  font-size: 16px;
  color: #757575;
  margin-top: 20px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
