<div class="page-container">
  <h1>Validar Acceso Temporal</h1>

  <!-- Formulario de validación -->
  <mat-card class="card validation-card">
    <mat-card-content>
      <form [formGroup]="accesoTemporalForm" class="validation-form grid-form" (ngSubmit)="validarCodigo()">
        <!-- Campo para introducir el código -->
        <mat-form-field appearance="fill" [class.error]="campoEsInvalido('codigoNumerico')">
          <mat-label>Código numérico</mat-label>
          <input matInput formControlName="codigoNumerico" maxlength="6" aria-label="Introduce el código numérico de 6 dígitos" />
          <mat-error *ngIf="accesoTemporalForm.get('codigoNumerico')?.hasError('required')">
            El código es obligatorio.
          </mat-error>
          <mat-error *ngIf="accesoTemporalForm.get('codigoNumerico')?.hasError('pattern')">
            El código debe tener exactamente 6 dígitos.
          </mat-error>
        </mat-form-field>

        <!-- Mensaje de error general -->
        <div *ngIf="mensaje" class="error-message" aria-label="Mensaje de error" >
          {{ mensaje }}
        </div>
      </form>
    </mat-card-content>

    <!-- Botón de validar -->
    <mat-card-actions class="action-buttons">
      <button mat-raised-button class="button-primary" type="submit" [disabled]="accesoTemporalForm.invalid" 
              (click)="validarCodigo()" aria-label="Validar el código numérico introducido">Validar</button>
    </mat-card-actions>
  </mat-card>
</div>