<h2 mat-dialog-title>Confirmar Baja</h2>
<mat-dialog-content>
  <p>¿Desea confirmar la baja?</p>
  <p>Se eliminará la prueba y sus datos almacenados.</p>
</mat-dialog-content>
<mat-dialog-actions class="action-buttons">
  <button mat-raised-button class="button-primary" (click)="confirmarEliminacion()" aria-label="Confirmar la eliminación de la prueba">Confirmar</button>
  <button mat-raised-button class="button-secondary" (click)="cancelar()" aria-label="Cancelar la eliminación de la prueba">Cancelar</button>
</mat-dialog-actions>