<h2 mat-dialog-title>Confirmar Baja</h2>
<mat-dialog-content>
  <p>¿Desea confirmar la eliminación de la consulta con fecha 
    <strong>{{ data.fechaConsulta | date: 'dd/MM/yyyy HH:mm' }}</strong>?</p>
  <p>Se eliminará la consulta y todos sus datos asociados.</p>
</mat-dialog-content>
<mat-dialog-actions class="action-buttons">
  <button mat-raised-button class="button-primary" (click)="confirmarEliminacion()" aria-label="Confirmar la eliminación de la consulta">Confirmar</button>
  <button mat-raised-button class="button-secondary" (click)="cancelar()" aria-label="Cancelar la eliminación de la consulta">Cancelar</button>
</mat-dialog-actions>