<div class="page-container">
  <!-- Título principal -->
  <h1>Nueva Prueba</h1>

  <!-- Mat Card con el formulario -->
  <mat-card class="card perfil-card">
    <mat-card-content>
      <!-- Contenedor con diseño en grid -->
      <form class="perfil-form grid-form" #altaPruebaForm="ngForm">
        <!-- Primera fila -->
        <mat-form-field appearance="fill">
          <mat-label>Tipo de Prueba</mat-label>
          <mat-select [(ngModel)]="prueba.tipo" name="tipo" required>
            <mat-option *ngFor="let tipo of tiposPrueba" [value]="tipo">{{ tipo }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Segunda fila -->
        <mat-form-field appearance="fill" class="grid-span">
          <mat-label>Descripción</mat-label>
          <textarea matInput [(ngModel)]="prueba.descripcion" name="descripcion" required></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <!-- Botones centrados -->
    <mat-card-actions class="action-buttons">
      <button mat-raised-button class="button-primary" (click)="crearPrueba()" [disabled]="!altaPruebaForm.form.valid">
        Crear
      </button>
      <button mat-raised-button class="button-secondary" (click)="volver()">
        Volver
      </button>
    </mat-card-actions>
  </mat-card>
</div>
