.grid-form {
  grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
}

.grid-form mat-form-field:nth-child(5),
.grid-form mat-form-field:nth-child(6) {
  grid-column: span 1; /* Segunda fila: Rol */
}

button.button-primary {
  background-color: #1976d2;
  color: #fff;
}

button.button-secondary {
  background-color: #ffffff;
  color: #1976d2;
  border: 1px solid #1976d2;
}

button.button-secondary:hover {
  background-color: #e3f2fd;
}

.page-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .card {
      max-width: 100%; /* Ajuste completo */
      margin: 5px; /* Reduce los márgenes */
  }

  .grid-form {
      grid-template-columns: 1fr; /* Una columna en móviles */
  }

  .grid-form mat-form-field {
      grid-column: span 1; /* Cada campo ocupa toda la fila */
  }
}