.page-container {
    text-align: center;
    padding: 20px;
  }
  
  .colegiado-card {
    width: 100%;
    max-width: 600px; /* Más estrecho que otros formularios */
    margin: 20px auto; /* Centrado en la página */
    padding: 20px;
    background-color: #f9f9f9; /* Fondo claro */
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px var(--card-shadow);
  }
  
  .full-width {
    width: 100%;
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .mensaje-validacion {
    margin-top: 20px;
    font-size: 16px;
    color: #159ab7; /* Azul */
    font-weight: bold;
  }
  