<div class="page-container">
  <h1>Iniciar sesión</h1>

  <mat-card class="card login-card">
    <mat-card-content>
      <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
        <!-- Campo Username -->
        <mat-form-field appearance="fill">
          <mat-label>Nombre de usuario</mat-label>
          <input
            matInput
            formControlName="username"
            required
            aria-label="Introduce tu nombre de usuario"
          />
          <mat-error *ngIf="campoEsInvalido('username')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>

        <!-- Campo Password -->
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            formControlName="password"
            type="password"
            required
            aria-label="Introduce tu contraseña, entre 8 y 16 caracteres"
          />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
            Campo obligatorio
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength') || loginForm.get('password')?.hasError('maxlength')">
            Debe tener entre 8 y 16 caracteres.
          </mat-error>
        </mat-form-field>

        <!-- Mensaje de error general -->
        <div *ngIf="mensajeError" class="error-message" aria-label="Mensaje de error general">
          {{ mensajeError }}
        </div>

        <!-- Botones -->
        <div class="action-buttons">
          <button mat-raised-button class="button-primary" type="submit" 
                  [disabled]="loginForm.invalid" aria-label="Iniciar sesión">
            Acceder
          </button>
        </div>
      </form>

      <p>
        <a [routerLink]="'/auth/olvidar-password'" class="olvidar-password-link" aria-label="Enlace para recuperar tu contraseña">
          ¿Olvidaste tu contraseña?
        </a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
