<div class="page-container">
  <h1>Iniciar sesión</h1>

  <!-- Mat Card con el formulario -->
  <mat-card class="card login-card">
    <mat-card-content>
      <!-- Contenedor del formulario -->
      <form class="login-form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="text" id="username" [(ngModel)]="username" name="username" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" [(ngModel)]="password" name="password" required />
        </mat-form-field>

        <div *ngIf="mensajeError" class="error-message">
          {{ mensajeError }}
        </div>

        <!-- Botones Centrados dentro del Form -->
        <div class="action-buttons">
          <button mat-raised-button class="button-primary" type="submit">Login</button>
        </div>
      </form>
      <p>
        <a [routerLink]="'/auth/olvidar-password'" class="olvidar-password-link">
          ¿Olvidaste tu contraseña?
        </a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
