<main class="pagina-estatica">
  <header>
      <h1>Ayuda</h1>
  </header>
  <section>
      <p>
          En <strong>VetDataShare</strong>, nuestro objetivo es garantizar que tengas la mejor experiencia posible al utilizar nuestra plataforma de gestión veterinaria.
          Si tienes alguna duda, problema técnico o simplemente necesitas orientación sobre cómo aprovechar al máximo nuestras funcionalidades, estamos aquí para ayudarte.
      </p>
      <h2>¿Cómo podemos ayudarte?</h2>
      <p>
          Para cualquier consulta técnica o soporte relacionado con nuestra plataforma, puedes ponerte en contacto con nosotros a través de los siguientes canales:
      </p>
      <ul>
          <li>
              <strong>Teléfono:</strong> Llámanos al <a href="tel:+34698754321">698 754 321</a> y nuestro equipo de soporte estará encantado de asistirte.
          </li>
          <li>
              <strong>Correo electrónico:</strong> Escríbenos a 
              <a href="mailto:vetdatashare&#64;gmail.com">vetdatashare&#64;gmail.com</a> con los detalles de tu consulta, y te responderemos a la mayor brevedad posible.
          </li>
      </ul>
      <h2>Horario de atención al cliente</h2>
      <p>
          Nuestro equipo de soporte está disponible para ayudarte en el siguiente horario:
      </p>
      <ul>
          <li><strong>Lunes a viernes:</strong> de 09:00 a 14:00 y de 17:00 a 20:00.</li>
          <li><strong>Sábados, domingos y festivos:</strong> No disponible.</li>
      </ul>
      <h2>Compromiso con el soporte técnico</h2>
      <p>
          En <strong>VetDataShare</strong>, entendemos la importancia de ofrecer un soporte técnico rápido y efectivo.
          Nuestro equipo está formado por profesionales capacitados para resolver cualquier inconveniente y brindarte la mejor asistencia posible.
      </p>
      <p>
          No dudes en contactarnos, estamos aquí para asegurarnos de que saques el máximo provecho de nuestra plataforma.
      </p>
  </section>
</main>
