<div class="container">
    <h2 class="title">Alta de Consulta</h2>
    <mat-card class="consulta-card">
      <mat-card-content>
        <form>
          <div class="form-group">
            <label for="motivo">Motivo de la consulta:</label>
            <textarea
              id="motivo"
              name="motivo"
              [(ngModel)]="consulta.motivo"
              rows="4"
              class="form-control full-width"
            ></textarea>
          </div>
  
          <div class="form-group" *ngIf="rol !== 'CLIENTE'">
            <label for="notas">Notas:</label>
            <textarea
              id="notas"
              name="notas"
              [(ngModel)]="consulta.notas"
              rows="4"
              class="form-control full-width"
            ></textarea>
          </div>
  
          <div class="form-group">
            <label for="medicacion">Medicación:</label>
            <textarea
              id="medicacion"
              name="medicacion"
              [(ngModel)]="consulta.medicacion"
              rows="4"
              class="form-control full-width"
            ></textarea>
          </div>
  
          <div class="form-actions">
            <button mat-raised-button color="primary" (click)="crearConsulta()">Guardar</button>
            <button mat-raised-button color="warn" (click)="volver()">Volver</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
</div>
  