<div class="alta-vacuna-container">
    <h2>Nueva Vacuna</h2>
    <form class="alta-form" #altaVacunaForm="ngForm">
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="vacuna.nombre" name="nombre" required />
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Laboratorio</mat-label>
          <input matInput [(ngModel)]="vacuna.laboratorio" name="laboratorio" required />
        </mat-form-field>
      </div>
  
      <div class="botones-accion">
        <button
          mat-raised-button
          color="primary"
          (click)="crearVacuna()"
          [disabled]="!altaVacunaForm.form.valid"
        >
          Crear
        </button>
        <button mat-raised-button color="warn" (click)="volver()">Volver</button>
      </div>
    </form>
  </div>
  