<div class="page-container">
  <!-- Título principal -->
  <h1>Nueva Vacuna</h1>
  <h3>{{ mascota?.nombre }} ({{ mascota?.numChip }})</h3>

  <!-- Mat Card con el formulario -->
  <mat-card class="card perfil-card">
    <mat-card-content>
      <form [formGroup]="altaVacunaForm" class="perfil-form grid-form">
        <!-- Nombre -->
        <mat-form-field appearance="fill" class="grid-span">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" aria-label="Nombre de la vacuna"/>
          <mat-error *ngIf="altaVacunaForm.get('nombre')?.hasError('required')">
            El nombre es obligatorio.
          </mat-error>
          <mat-error *ngIf="altaVacunaForm.get('nombre')?.hasError('maxlength')">
            No puede exceder los 250 caracteres.
          </mat-error>
        </mat-form-field>

        <!-- Laboratorio -->
        <mat-form-field appearance="fill" class="grid-span">
          <mat-label>Laboratorio</mat-label>
          <input matInput formControlName="laboratorio" aria-label="Laboratorio de la vacuna"/>
          <mat-error *ngIf="altaVacunaForm.get('laboratorio')?.hasError('required')">
            El laboratorio es obligatorio.
          </mat-error>
          <mat-error *ngIf="altaVacunaForm.get('laboratorio')?.hasError('maxlength')">
            No puede exceder los 250 caracteres.
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>

    <!-- Botones -->
    <mat-card-actions class="action-buttons">
      <button mat-raised-button class="button-primary" (click)="crearVacuna()" 
              [disabled]="altaVacunaForm.invalid" aria-label="Crear vacuna">
        Crear
      </button>
      <button mat-raised-button class="button-secondary" (click)="volver()" aria-label="Volver a la pantalla anterior">
        Volver
      </button>
    </mat-card-actions>
  </mat-card>
</div>
