.grid-form {
  display: grid;
  grid-template-columns: 1fr; /* Una sola columna */
  gap: 20px; /* Espaciado entre filas */
}

.full-width {
  grid-column: span 1; /* Cada campo ocupa toda la fila */
}
