<div class="dashboard-container">
  <div *ngIf="isLoading" class="spinner-container">
    <mat-progress-spinner mode="indeterminate" diameter="50" color="primary" aria-label="Cargando contenido del dashboard"></mat-progress-spinner>
  </div>

  <div class="!isLoading">
    <h1>Panel de Cliente</h1>
    <h3>{{ cliente?.nombre }} {{ cliente?.apellido1 }} {{ cliente?.apellido2 }} ({{ cliente?.numIdent }})</h3>

    <div class="dashboard-buttons-container">
      <div class="dashboard-buttons">
        <!-- Botón "Mi Perfil" -->
        <div 
          class="dashboard-button animate__animated animate__fadeIn"
          (click)="navegarPerfil()" aria-label="Ir a la sección Mi Perfil del cliente">
          <i class="fa-solid fa-user" title="Mi perfil"></i>
          <span>Mi Perfil</span>
        </div>

        <!-- Botón "Mis Mascotas" -->
        <div 
          class="dashboard-button animate__animated animate__fadeIn"
          (click)="navegarMascotas()" aria-label="Ir a la sección Mis Mascotas del cliente">
          <i class="fa-solid fa-paw" title="Mis Mascotas"></i>
          <span>Mis Mascotas</span>
        </div>
      </div>
    </div>

    <!-- Botón de Volver para roles distintos a CLIENTE -->
    <button 
      *ngIf="mostrarBotonVolver()" 
      mat-raised-button 
      class="button-secondary" 
      (click)="navegarGestionClientes()" aria-label="Volver a la gestión de clientes">
      Volver
    </button>
  </div>
</div>
