<div class="dashboard-container">
  <div class="titulo-container">
    <h1 class="titulo-perfil">Perfil de Cliente</h1>
  </div>

  <button mat-raised-button color="primary" (click)="navegarPerfil()">
    Mi Perfil
  </button>

  <button mat-raised-button color="accent" (click)="navegarMascotas()">
    Mis Mascotas
  </button>

  <!-- Botón de Volver para roles distintos a CLIENTE -->
  <button *ngIf="mostrarBotonVolver()" mat-raised-button color="warn" (click)="navegarGestionClientes()">
    Volver a Gestión de Clientes
  </button>
</div>
