<div class="dashboard-container">
  <h1>Panel de Control del Cliente</h1>

  <div class="dashboard-buttons-container">
    <div class="dashboard-buttons">
      <!-- Botón "Mi Perfil" -->
      <div 
        class="dashboard-button"
        (click)="navegarPerfil()">
        <i class="fa-solid fa-user"></i>
        <span>Mi Perfil</span>
      </div>

      <!-- Botón "Mis Mascotas" -->
      <div 
        class="dashboard-button"
        (click)="navegarMascotas()">
        <i class="fa-solid fa-paw"></i>
        <span>Mis Mascotas</span>
      </div>
    </div>
  </div>

  <!-- Botón de Volver para roles distintos a CLIENTE -->
  <button 
    *ngIf="mostrarBotonVolver()" 
    mat-raised-button 
    class="button-secondary" 
    (click)="navegarGestionClientes()">
    Volver
  </button>
</div>
