<h2 mat-dialog-title>Confirmar eliminación</h2>
<mat-dialog-content>
  <p>¿Desea confirmar la eliminación del cliente <strong>{{ data.nombre }} {{ data.apellido1 }} {{ data.apellido2 }}</strong>?</p>
  <p>Se eliminarán todas sus mascotas y datos asociados.</p>
</mat-dialog-content>
<mat-dialog-actions class="action-buttons">
  <button mat-button class="button-primary" (click)="cancelar()">Cancelar</button>
  <button mat-raised-button class="button-secondary" (click)="confirmarEliminacion()">Eliminar</button>
</mat-dialog-actions>