<h2 mat-dialog-title>Confirmar Baja</h2>
<mat-dialog-content>
  <p>¿Desea confirmar la baja de la mascota <strong>{{ data.nombre }}  ({{ data.numChip }})</strong>?</p>
  <p>Se eliminarán tanto la mascota como sus datos almacenados.</p>
</mat-dialog-content>
<mat-dialog-actions class="action-buttons">
  <button mat-raised-button class="button-primary" (click)="confirmarEliminacion()">Confirmar</button>
  <button mat-raised-button class="button-secondary" (click)="cancelar()">Cancelar</button>
</mat-dialog-actions>