<div class="page-container">
  <!-- Título principal -->
  <h1>Nueva Clínica</h1>

  <!-- Mat Card con el formulario -->
  <mat-card class="card perfil-card">
    <mat-card-content>
      <!-- Formulario con FormBuilder -->
      <form [formGroup]="clinicaForm" class="perfil-form grid-form">
        <!-- Primera fila -->
        <mat-form-field appearance="fill" [class.error]="campoEsInvalido('nombre')">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" aria-label="Introduce el nombre de la clínica, máximo 100 caracteres" />
          <mat-error *ngIf="campoEsInvalido('nombre')">
            <ng-container *ngIf="clinicaForm.get('nombre')?.hasError('required')">
              El nombre es obligatorio.
            </ng-container>
            <ng-container *ngIf="clinicaForm.get('nombre')?.hasError('maxlength')">
              El nombre no debe exceder los 100 caracteres.
            </ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" [class.error]="campoEsInvalido('direccion')">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="direccion" aria-label="Introduce la dirección de la clínica, máximo 100 caracteres" />
          <mat-error *ngIf="campoEsInvalido('direccion')">
            <ng-container *ngIf="clinicaForm.get('direccion')?.hasError('required')">
              La dirección es obligatoria.
            </ng-container>
            <ng-container *ngIf="clinicaForm.get('direccion')?.hasError('maxlength')">
              La dirección no debe exceder los 100 caracteres.
            </ng-container>
          </mat-error>
        </mat-form-field>

        <!-- Segunda fila -->
        <mat-form-field appearance="fill" [class.error]="campoEsInvalido('telefono')">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" aria-label="Introduce el teléfono de la clínica, exactamente 9 dígitos"/>
          <mat-error *ngIf="campoEsInvalido('telefono')">
            <ng-container *ngIf="clinicaForm.get('telefono')?.hasError('required')">
              El teléfono es obligatorio.
            </ng-container>
            <ng-container *ngIf="clinicaForm.get('telefono')?.hasError('pattern')">
              El teléfono debe tener exactamente 9 dígitos.
            </ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" [class.error]="campoEsInvalido('email')">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" aria-label="Introduce el email de la clínica, máximo 50 caracteres"/>
          <mat-error *ngIf="campoEsInvalido('email')">
            <ng-container *ngIf="clinicaForm.get('email')?.hasError('required')">
              El email es obligatorio.
            </ng-container>
            <ng-container *ngIf="clinicaForm.get('email')?.hasError('email')">
              Debe ser un email válido.
            </ng-container>
            <ng-container *ngIf="clinicaForm.get('email')?.hasError('maxlength')">
              El email no puede exceder los 50 caracteres.
            </ng-container>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>

    <!-- Botones -->
    <mat-card-actions class="action-buttons">
      <button mat-raised-button class="button-primary" (click)="crearClinica()"
              [disabled]="clinicaForm.invalid" aria-label="Crear la nueva clínica">Crear
      </button>
      <button mat-raised-button class="button-secondary" (click)="volver()" aria-label="Volver al listado de clínicas">Volver</button>
    </mat-card-actions>
  </mat-card>
</div>
