/* Contenedor principal */
.dashboard-container {
  text-align: center;
  margin: 40px auto;
  padding: var(--padding);
}

/* Contenedor de botones (para TODOS) */
.dashboard-buttons {
  display: grid;
  gap: 15px; /* Espaciado entre botones */
  margin: 0 auto 2rem; /* Centrado y margen */
  justify-items: center;
}

/* Diseño específico para CLIENTE */
.cliente-layout {
  grid-template-columns: repeat(3, 1fr); /* 3 botones en escritorio */
  max-width: 550px; /* Máximo ancho */
}

/* Diseño específico para NO CLIENTE */
.default-layout {
  grid-template-columns: repeat(2, 1fr); /* 2 botones por fila */
  max-width: 400px;
}

/* Tablas de últimos registros */
mat-tab-group {
  margin: 2rem 0;
}

th, td {
  text-align: center;
}

/* Botón individual */
.dashboard-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #cbd8df;
  color: #1e5067;
  border-radius: var(--border-radius);
  box-shadow: 0 6px 12px var(--card-shadow);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.dashboard-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.dashboard-button i {
  font-size: 48px;
  margin-bottom: 10px;
  color: #1e5067;
}

.dashboard-button span {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #1e5067;
}

/* Media Query para 768px */
@media (max-width: 768px) {
  .cliente-layout {
      grid-template-columns: repeat(2, 1fr); /* 2 botones por fila */
      max-width: 400px;
  }

  .default-layout {
      grid-template-columns: repeat(2, 1fr); /* Mantiene 2 filas de 2 botones */
      max-width: 400px;
  }
}

/* Media Query para 580px */
@media (max-width: 580px) {
  .cliente-layout,
  .default-layout {
      grid-template-columns: 1fr; /* Columna única */
      gap: 10px;
  }

  .dashboard-button {
      width: 100%;
      max-width: 300px;
  }
}



