<div class="dashboard-container">
  <h1>Dashboard de Mascota</h1>

  <div
  class="dashboard-buttons"
  [ngClass]="{'cliente-layout': rolUsuario === 'CLIENTE', 'default-layout': rolUsuario !== 'CLIENTE'}"
>
  <div class="dashboard-button" (click)="navegarDetalle()">
    <i class="fa-solid fa-circle-info"></i>
    <span>Consultar datos</span>
  </div>
  <div class="dashboard-button" (click)="navegarConsultas()">
    <i class="fa-solid fa-notes-medical"></i>
    <span>Histórico de consultas</span>
  </div>
  <div class="dashboard-button" (click)="navegarPruebas()">
    <i class="fa-solid fa-vial"></i>
    <span>Pruebas</span>
  </div>
  <div class="dashboard-button" (click)="navegarVacunas()">
    <i class="fa-solid fa-syringe"></i>
    <span>Vacunas</span>
  </div>
  <div
    class="dashboard-button"
    *ngIf="rolUsuario === 'CLIENTE'"
    (click)="navegarAccesoTemporal()"
  >
    <i class="fa-solid fa-hourglass-half"></i>
    <span>Generar Acceso Temporal</span>
  </div>
</div>


  <!-- Botón Volver -->
  <button mat-raised-button class="button-secondary button-volver" (click)="volver()">Volver</button>
</div>
