<div class="dashboard-container">
  <!-- Spinner de carga -->
  <div *ngIf="isLoading" class="spinner-container">
    <mat-progress-spinner mode="indeterminate" diameter="50" color="primary" aria-label="Cargando el panel de mascota"></mat-progress-spinner>
  </div>

  <!-- Contenido de la mascota -->
  <div *ngIf="!isLoading">
    <h1>Panel de Mascota</h1>
    <h3>{{ mascota?.nombre }} ({{ mascota?.numChip }})</h3>
    
    <!-- Tabs para actividad reciente -->
    <div class="tabs-container">
      <mat-tab-group aria-label="Secciones del panel de la mascota">
        <!-- Tab de Últimas Consultas -->
        <mat-tab label="Últimas Consultas">
          <div *ngIf="ultimasConsultas?.length; else noConsultas">
            <table mat-table [dataSource]="ultimasConsultas" class="mat-elevation-z8" aria-label="Tabla de últimas consultas">
              <!-- Fecha -->
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let consulta">{{ consulta.fechaConsulta | date: 'dd/MM/yyyy' }}</td>
              </ng-container>

              <!-- Motivo -->
              <ng-container matColumnDef="motivo">
                <th mat-header-cell *matHeaderCellDef>Motivo</th>
                <td mat-cell *matCellDef="let consulta">{{ consulta.motivo }}</td>
              </ng-container>

              <!-- Acciones -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let consulta">
                  <button mat-icon-button color="primary" (click)="verDetalleConsulta(consulta.id)" aria-label="Ver detalles de la consulta">
                    <mat-icon title="Acceder">remove_red_eye</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['fecha', 'motivo', 'acciones']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['fecha', 'motivo', 'acciones']"></tr>
            </table>
          </div>
          <ng-template #noConsultas>
            <p class="placeholder">No se encontraron consultas recientes para esta mascota.</p>
          </ng-template>
        </mat-tab>

        <!-- Tab de Últimas Pruebas -->
        <mat-tab label="Últimas Pruebas">
          <div *ngIf="ultimasPruebas?.length; else noPruebas">
            <table mat-table [dataSource]="ultimasPruebas" class="mat-elevation-z8" aria-label="Tabla de últimas pruebas">
              <!-- Fecha -->
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let prueba">{{ prueba.fecha | date: 'dd/MM/yyyy' }}</td>
              </ng-container>

              <!-- Tipo -->
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>Descripción</th>
                <td mat-cell *matCellDef="let prueba">{{ prueba.descripcion }}</td>
              </ng-container>

              <!-- Acciones -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let prueba">
                  <button mat-icon-button color="primary" (click)="verDetallePrueba(prueba.id)" aria-label="Ver detalles de la prueba">
                    <mat-icon title="Acceder">remove_red_eye</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['fecha', 'descripcion', 'acciones']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['fecha', 'descripcion', 'acciones']"></tr>
            </table>
          </div>
          <ng-template #noPruebas>
            <p class="placeholder">No se encontraron pruebas recientes para esta mascota.</p>
          </ng-template>
        </mat-tab>

        <!-- Tab de Últimas Vacunas -->
        <mat-tab label="Últimas Vacunas">
          <div *ngIf="ultimasVacunas?.length; else noVacunas">
            <table mat-table [dataSource]="ultimasVacunas" class="mat-elevation-z8" aria-label="Tabla de últimas vacunas">
              <!-- Fecha -->
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let vacuna">{{ vacuna.fecha | date: 'dd/MM/yyyy' }}</td>
              </ng-container>

              <!-- Nombre -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let vacuna">{{ vacuna.nombre }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['fecha', 'nombre']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['fecha', 'nombre'];"></tr>
            </table>
          </div>
          <ng-template #noVacunas>
            <p class="placeholder">No se encontraron vacunas recientes para esta mascota.</p>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div
      class="dashboard-buttons"
      [ngClass]="{'cliente-layout': rolUsuario === 'CLIENTE', 'default-layout': rolUsuario !== 'CLIENTE'}"
    >
      <div class="dashboard-button animate__animated animate__fadeIn" (click)="navegarDetalle()">
        <i class="fa-solid fa-circle-info" title="Consultar datos"></i>
        <span aria-label="Consultar datos">Consultar datos</span>
      </div>
      <div class="dashboard-button animate__animated animate__fadeIn" (click)="navegarConsultas()">
        <i class="fa-solid fa-notes-medical" title="Histórico de consultas"></i>
        <span aria-label="Histórico de consultas">Histórico de consultas</span>
      </div>
      <div class="dashboard-button animate__animated animate__fadeIn" (click)="navegarPruebas()">
        <i class="fa-solid fa-vial" title="Pruebas"></i>
        <span aria-label="Pruebas">Pruebas</span>
      </div>
      <div class="dashboard-button animate__animated animate__fadeIn" (click)="navegarVacunas()">
        <i class="fa-solid fa-syringe" title="Vacunas"></i>
        <span aria-label="Vacunas">Vacunas</span>
      </div>
      <div
        class="dashboard-button animate__animated animate__fadeIn"
        *ngIf="rolUsuario === 'CLIENTE'"
        (click)="navegarAccesoTemporal()"
      >
        <i class="fa-solid fa-hourglass-half" title="Generar Acceso Temporal"></i>
        <span aria-label="Generar Acceso Temporal">Generar Acceso Temporal</span>
      </div>
    </div>

    <!-- Botón Volver -->
    <button mat-raised-button class="button-secondary button-volver" (click)="volver()" aria-label="Volver al menú anterior" *ngIf="rolUsuario !== 'TEMPORAL'">Volver</button>
  </div>
</div>
