.search-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.formulario-busqueda {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

.form-field {
    width: 48%;
}

.boton-buscar {
    display: block;
    margin: 10px auto;
}

hr {
    margin: 15px 0;
}

.resultados-container {
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #1976d2; 
}

.clientes-tabla {
    width: 100%;
    margin-top: 10px;
    overflow-x: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px 12px; 
    text-align: left;
}

th {
    background-color: #1976d2;
    font-weight: bold;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: center;
}

td {
    background-color: #f9f9f9;
}

.mat-row:hover {
    background-color: #e3f2fd; 
}

p {
    text-align: center;
    color: red;
    font-weight: bold;
}

.mat-raised-button {
    margin: auto;
    display: inline-block;
    min-width: 100px;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #f0f0f0;
}

.boton-volver {
    margin-top: 20px;
    text-align: center;
}
  
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
  
.spinner {
    color: #159ab7; /* Color del spinner */
}

  
.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.clientes-tabla {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto;
    border-collapse: collapse;
}

.paginator-container {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
    width: 90%; 
    max-width: 1200px; 
    padding: 10px; 
    background-color: #f9f9f9;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
