.grid-form {
  grid-template-columns: repeat(2, 1fr);
}

.grid-form mat-form-field:nth-child(1),
.grid-form mat-form-field:nth-child(2) {
  grid-column: span 1; /* Cada campo ocupa una columna */
}

.grid-form mat-form-field:nth-child(3),
.grid-form mat-form-field:nth-child(4) {
  grid-column: span 1; /* Cada campo ocupa una columna en la segunda fila */
}

.grid-form mat-form-field:nth-child(5) {
  grid-column: span 1; /* Ocupa toda la fila */
}

@media (max-width: 480px) {
  .card {
      max-width: 100%; /* Ajuste completo */
  }

  .grid-form {
      grid-template-columns: 1fr; /* Una columna en móviles */
  }

  .grid-form mat-form-field {
      grid-column: span 1; /* Cada campo ocupa toda la fila */
  }
}