<div class="page-container">
  <!-- Spinner de carga -->
  <div *ngIf="isLoading" class="spinner-container">
    <mat-progress-spinner mode="indeterminate" diameter="50" color="primary" aria-label="Cargando contenido"></mat-progress-spinner>
  </div>

  <!-- Contenido principal -->
  <div *ngIf="!isLoading">
    <h2>Listado de Vacunas</h2>
    <h3>{{ mascota?.nombre }} ({{ mascota?.numChip }})</h3>

    <!-- Tabla de vacunas -->
    <div class="tabla-container" *ngIf="dataSource.data.length > 0; else noVacunas">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <!-- Fecha de Vacuna -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Fecha </th>
          <td mat-cell *matCellDef="let vacuna" class="text-center"> {{ vacuna.fecha | date:'dd/MM/yyyy HH:mm' }} </td>
        </ng-container>

        <!-- Nombre de la Vacuna -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
          <td mat-cell *matCellDef="let vacuna" class="text-center"> {{ vacuna.nombre }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
      </table>

      <!-- Paginador -->
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Paginador para la tabla de vacunas"></mat-paginator>
    </div>

    <!-- Mensaje si no hay vacunas -->
    <ng-template #noVacunas>
      <p>No se encontraron vacunas para esta mascota.</p>
    </ng-template>

    <!-- Botón de Volver -->
    <div class="boton-volver">
      <button mat-raised-button class="button-secondary" (click)="volver()" aria-label="Volver al panel anterior">Volver</button>
    </div>
  </div>
</div>
