/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
    --primary-color: #05a6ae; /* Turquesa */
    --secondary-color: #e8f6f7; /* Celeste */
    --text-dark: #060505; /* Casi negro */
    --text-light: #ffffff; /* Blanco */
    --card-shadow: rgba(0, 0, 0, 0.1);
    --border-radius: 8px;
    --padding: 20px;
}

/* Reset general */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--text-dark);
    background-color: #f4f4f9;
}

/* Contenedor principal */
.page-container {
    text-align: center;
    padding: 20px;
}

/* Cards generales */
.card {
    width: 100% !important;
    min-width: 800px !important;
    /* max-width: 800px !important; */
    margin: 20px auto; /* Centrado */
}

/* Botones comunes */
button {
    font-weight: bold !important; /* Mantiene el texto en negrita */
}

button:disabled {
    background-color: #d3d3d3 !important; /* Gris claro para botón deshabilitado */
    color: #ffffff !important; /* Texto blanco */
    cursor: not-allowed !important; /* Cursor no permitido */
    box-shadow: none !important; /* Sin sombra */
  }

/* Botón principal (Guardar, Confirmar, etc.) */
.button-primary {
    background-color: #159ab7 !important; /* Azul */
    color: #ffffff !important; /* Blanco */
    border: none !important; /* Sin borde */
}

/* Botón secundario (Volver, Cancelar, etc.) */
.button-secondary {
    background-color: #ffffff !important; /* Blanco */
    color: #159ab7 !important; /* Azul */
    border: 1px solid #159ab7 !important; /* Borde azul */
}

/* Centrado de botones con espaciado */
.action-buttons {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 20px; /* Espaciado entre botones */
    margin-top: 20px;
}

mat-divider {
    margin: 1rem 0 !important;
}

mat-icon {
    color: #159ab7 !important;
}

