<div class="page-container">
  <!-- Spinner de carga -->
  <div *ngIf="isLoading" class="spinner-container">
    <mat-progress-spinner mode="indeterminate" diameter="50" color="primary" aria-label="Cargando historial de consultas"></mat-progress-spinner>
  </div>

  <!-- Contenido principal -->
  <div *ngIf="!isLoading">
    <h1>Historial de Consultas</h1>
    <h3>{{ mascota?.nombre }} ({{ mascota?.numChip }})</h3>

    <div class="tabla-container" *ngIf="dataSource.data.length > 0; else noConsultas">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" aria-label="Tabla de historial de consultas">
        <!-- Fecha y Hora de Consulta -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef disableClear="true" class="text-center">Fecha y Hora</th>
          <td mat-cell *matCellDef="let consulta" class="text-center">
            {{ consulta.fechaConsulta | date: 'dd/MM/yyyy HH:mm' }}
          </td>
        </ng-container>

        <!-- Acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
          <td mat-cell *matCellDef="let consulta" class="text-center">
            <button mat-icon-button color="primary" (click)="verDetalleConsulta(consulta.id)" aria-label="Ver detalle de la consulta">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button *ngIf="puedeEliminarConsulta(consulta)" mat-icon-button color="warn" (click)="eliminarConsulta(consulta)" aria-label="Eliminar consulta">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
      </table>

      <!-- Paginador -->
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Paginador para el historial de consultas"></mat-paginator>
    </div>

    <ng-template #noConsultas>
      <p>No se encontraron consultas para esta mascota.</p>
    </ng-template>

    <!-- Botón de Volver -->
    <div class="action-buttons">
      <button mat-raised-button class="button-primary" (click)="nuevaConsulta()" aria-label="Registrar una nueva consulta" *ngIf="rolUsuarioSesion === 'VETERINARIO' || rolUsuarioSesion === 'ADMIN_CLINICA'">Nueva Consulta</button>
      <button mat-raised-button class="button-secondary" (click)="volver()" aria-label="Volver al menú anterior">Volver</button>
    </div>
  </div>
</div>
