.boton-acciones {
    display: flex;
    justify-content: flex-start; /* Alinear hacia la izquierda */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 20px; /* Espaciado superior */
  }
  
  
body, html {
    height: 100%; /* Garantiza que la altura se tome como referencia total */
}
  
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura el centrado del contenido horizontal */
    justify-content: center; /* Centra verticalmente en la página */
    min-height: 100vh; /* Asegura el contenedor ocupe toda la pantalla */
}
  